ansible==13.2.0
ansible-core==2.20.1
ansible-runner==2.4.2
cffi==2.0.0
cryptography==46.0.3
debugpy==1.8.19
dill==0.4.0
grpcio==1.76.0
Jinja2==3.1.6
lockfile==0.12.2
MarkupSafe==3.0.3
packaging==25.0
pexpect==4.9.0
protobuf==5.29.5
ptyprocess==0.7.0
pulumi==3.214.0
pycparser==2.23
python-daemon==3.1.2
PyYAML==6.0.3
resolvelib==1.2.1
semver==3.0.4
typing_extensions==4.15.0
