[defaults]

inventory = inventory/inventory.yml

remote_user = dorb

host_key_checking = False

interpreter_python = auto_silent

stdout_callback = yaml

roles_path = roles

[privilage_escalation]

become = True
become_method = sudo
become_user = root

become_ask_pass = False