external_url '{{ gitlab_external_url }}'

nginx['listen_port'] = {{ gitlab_internal_port }}
nginx['listen_https'] = false

nginx['proxy_set_headers'] = {
  "X-Forwarded-Proto" => "https",
  "X-Forwarded-Ssl" => "on"
}

gitlab_rails['gitlab_shell_ssh_port'] = {{ gitlab_ssh_port }}

# 5. Enterprise Tuning (For 8GB+ RAM)
# Prevents memory thrashing
puma['worker_processes'] = 2
sidekiq['max_concurrency'] = 10

# 6. Disable Let's Encrypt (Your Proxy handles this)
letsencrypt['enable'] = false